{% extends 'base.html' %}

{% block page_title_header%}
Future
{% endblock %}
{% block content %}

<div class="center" style="padding-top:5vh">
	<h1>Future Plans</h1>
</div>
<div class="center" style="padding-top: 5vh; padding-bottom: 5vh;">
	<img src="https://i.ibb.co/m6y0b0v/google-map3-1080x630.jpg" alt="google-map3-1080x630" border="0">
</div>
<div class="center">
	<div class="textbox">
		<p><span style="color:green;">Green Plate</span>'s future is as bright as it is green, currently our database isn't complete, however our plans to opensource the database will fix this issue. When users encounter a restaurant that is not in our eco-database, they will be given the choice to give it a rating on their own. This rating will then be verified through a dedicated team and ratings from other users</p>
	</div>
</div>
<div class="center">
	<div class="textbox">
		<p>We are planning to expand <span style="color:green;">Green Plate</span> to a mobile app to make it accessible to even more people!</p>
	</div>
</div>

{% endblock %}