{% extends 'base.html' %}

{% block page_title_header%}
GreenPlate
{% endblock %}
{% block content %}

<div class="welcome">
	<h1 style="padding-top: 5vh;"> Welcome!</h1>
</div>
<div class="textbox1">
	<p>We built <span style="color: green;"> Green Plate</span> to give the public the power to make a greener choice and the save our home, the Earth.</p>
</div>
<div class="center">
	<img src="https://i.ibb.co/2WSrBCS/photo-1610878180933-123728745d22.jpg" alt="photo-1610878180933-123728745d22" border="0">
</div>
<div class="textbox1">
	<p><span style="color: green;"> Green Plate</span> gives consumers the tools they need to chose more eco-friendly food options to reduce their carbon footprint and take their business to restaurants that are more eco-conscious. This will incentivize businesses to invest in making greener choices in order to get business from <span style="color: green;"> Green Plate</span> users who will prefer to eat at greener places. When the <span style="color: green;"> Green Plate</span> community gets large enough, we will have the purchasing power to sway corporations into better ecological practices, creating a more prosperous life for us earthlings</p>
</div>
<div class="textbox1">
	<p><span style="color: green;"> Green Plate</span> works by giving restaurants near you a rating based on their carbon footprints, allowing you to choose the more eco-friendly option!</p>
</div>
<div class="center">
	<a href="/carbon/find">
		<div class="usebutton">
			<p> Click To Use!</p>
		</div>
	</a>
</div>

{% endblock %}