{% extends 'base.html' %}

{% block page_title_header%}
Contact Us
{% endblock %}
{% block content %}
<div class="center">
	<h1 style="padding-top: 5vh">The Team:</h1>
</div>

<div class="entry" style="padding: 2vw;min-height: 60vh;">
	<a href="https://www.aaryamanbhute.com"><img src="https://i.ibb.co/xLb4nBK/IMG-0766-removebg-preview.png" class="general fade-in" id="aboutimg"></a>       
	<div class="descriptionC fade-in" id="abouttext">
		<p><strong><span style="color: #188900">Hello!</span></strong> my name is Aaryaman Bhute!</p>
		<p><strong><span style="color: #188900">My Role:</span></strong> Responsible for front-end development of website including design. Completed back-end to front-end integration with data transfer. Completed and implemented image recognition script into the final product website</p>
		<p><strong><span style="color: #188900">Skills Used:</span></strong> Python, Python Modules, Django, HTML, CSS, Javascript</p>
		<p><strong><span style="color: #188900">Personal Inspiration:</span></strong> Coming from agricultural roots, I hear the troubles that farmers go through to ensure that food production is not damaged. Right now the farmers are most effected, and if not slowed Climate Change will cause food supply issues for everyone. My inspiration for this project is to stop that from happening</p>
		<p><strong><span style="color: #188900">Contact:</span></strong> I'm happy to speak with you any time! Just use any of the following social medias to reach out!</p>
		<div class="contactbar">
			<a href="https://www.linkedin.com/in/aaryaman-bhute/"><img src="https://i.ibb.co/p0fzZ6M/linkedin.png" class ="contactimg"></a>
			<a href="https://www.instagram.com/aaryaman_bhute/"><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg"></a>
			<a href="https://github.com/AaryamanBhute"><img src="https://i.ibb.co/v1bSkKt/github.png" class ="contactimg"></a>
			<a href="mailto:aryamanbhute@gmail.com"><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg"></a>
		</div>
	</div>
</div>

<div class="entry" style="padding: 2vw;min-height: 60vh;">
	<a href=""><img src="https://i.ibb.co/kx6f5r6/Profile-Pic-1.jpg" class="general fade-in" id="aboutimg"></a>       
	<div class="descriptionC fade-in" id="abouttext">
		<p><strong><span style="color: #188900">Hello!</span></strong> my name is Sam Chan!</p>
		<p><strong><span style="color: #188900">My Role:</span></strong>Experimented with front end development and designed the cosmetic components of the site</p>
		<p><strong><span style="color: #188900">Skills Used:</span></strong>Html, CSS, Javascript, Python</p>
		<p><strong><span style="color: #188900">Personal Inspiration:</span></strong> Raised by a family that heavily stressed environmental sustainability, choosing this track was a no brainer. Ever since I could remember, environmental conservation has been ingrained in my mind. From reusing hundreds of plastic bags from the grocery store to growing our own vegetables in our backyard, I have strived to live a life of sustainability.</p>
		<p><strong><span style="color: #188900">Contact:</span></strong> I'm happy to speak with you any time! Just use any of the following social medias to reach out!</p>
		<div class="contactbar">
			<a href=""><img src="https://i.ibb.co/p0fzZ6M/linkedin.png" class ="contactimg"></a>
			<a href=""><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg"></a>
			<a href=""><img src="https://i.ibb.co/v1bSkKt/github.png" class ="contactimg"></a>
			<a href=""><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg"></a>
		</div>
	</div>
</div>

<div class="entry" style="padding: 2vw;min-height: 60vh;">
	<a href=""><img src="https://i.ibb.co/qCB3Phv/asd.jpg" class="general fade-in" id="aboutimg"></a>       
	<div class="descriptionC fade-in" id="abouttext">
		<p><strong><span style="color: #188900">Hello!</span></strong> my name is Bruce Leavitt!</p>
		<p><strong><span style="color: #188900">My Role:</span></strong> Experimented with different uses of Google Maps API and its applications to the calculator. Assessed the usefulness of mapping the results to a spreadsheet system versus grabbing the data directly. Drafted visuals and researched the criteria for which we based our database of eco-scores on</p>
		<p><strong><span style="color: #188900">Skills Used:</span></strong> Python, Django, HTML, CSS, Google Maps API</p>
		<p><strong><span style="color: #188900">Personal Inspiration:</span></strong> I find it very important to understand what we can do to combat climate change. It is difficult to find information especially about the sustainability of specific restaurants. No one can make sustainable choices if they don't know which choices are sustainable</p>
		<p><strong><span style="color: #188900">Contact:</span></strong> Don’t hesitate to reach out!</p>
		<div class="contactbar">
			<a href=""><img src="https://i.ibb.co/p0fzZ6M/linkedin.png" class ="contactimg"></a>
			<a href=""><img src="https://i.ibb.co/CJZ8FGb/instagram.png" class ="contactimg"></a>
			<a href=""><img src="https://i.ibb.co/v1bSkKt/github.png" class ="contactimg"></a>
			<a href=""><img src="https://i.ibb.co/47gGTR7/email.png" class ="contactimg"></a>
		</div>
	</div>
</div>

{% endblock %}